<!-- card-selection.component.html -->
<div class="w-100 row card-selection-container">
    <!-- <h2>Select a card:</h2> -->
    <div class="row w-100 card-buttons">
      <a (click)="navigateTo('explore')" class="col-md-3 h-a" routerLink="/explore" queryParams="{ type: 'food' }">
        <div class="card food">
          <span>Food</span>
        </div>
      </a>
      <a (click)="navigateTo('explore')" class="col-md-3 h-a" routerLink="/explore" queryParams="{ type: 'places' }">
        <div class="card places">
          <span>Places</span>
        </div>
      </a>
      <a (click)="navigateTo('explore')" class="col-md-3 h-a" routerLink="/explore" queryParams="{ type: 'trips' }">
        <div class="card trips">
          <span>Trips</span>
        </div>
      </a>
    </div>
  </div>